<div class="vl-region vl-region--no-space-top vl-region--no-space-bottom" id="languageSwitcher">
  <nav aria-label="{{ langSwitcherLabel }}">
    <div style="margin:0; padding:0.25rem 0; font-size:0.95em;">
      {% set languageLabels = {'nl': 'Nederlands', 'en': 'English', 'de': 'Deutsch', 'fr': 'Français'} %}
      {% if data.metadata.availableLanguages and (data.metadata.availableLanguages | length > 0) %}
        {% set availableTranslations = data.metadata.availableLanguages %}
      {% elif config.translation and (config.translation | length > 0) %}
        {% set availableTranslations = config.translation %}
      {% endif %}
      {% set primeCode = availableTranslations[0] %}
      {% if primeCode is not string %}{% set primeCode = primeCode.language %}{% endif %}

      {% set firstTranslation = true %}
      {% for translation in availableTranslations %}
        {% if translation is string %}
          {% set code = translation %}
        {% else %}
          {% set code = translation.language %}
        {% endif %}
        {% if code != language %}
          {% set label = languageLabels[code] %}
          {% if not label %}{% set label = code %}{% endif %}
          {% if not firstTranslation %} | {% endif %}
          {% if code == primeCode %}
          <a class="vl-link" href="./">{{ label }}</a>
          {% else %}
          <a class="vl-link" href="index_{{ code }}.html">{{ label }}</a>
          {% endif %}
          {% set firstTranslation = false %}
        {% endif %}
      {% endfor %}
    </div>
  </nav>
</div>